<script type="text/html" data-help-name="ui_microphone">
    <p>ブラウザのマイクからオーディオ録音、音声認識を行うためのV2 dboardダッシュボードUIノード</p>
    <h3>出力</h3>
    <dl class="message-properties">
        <dt>payload<span class="property-type">Bufferまたは文字列</span></dt>
        <dd>対象フォーマットで録音したオーディオもしくは音声認識結果の文字列</dd>
        <dt>done<span class="property-type">Bool</span></dt>
        <dd>最終結果か否か(音声認識モードのみ)</dd>
    </dl>
    <h3>詳細</h3>
    <p>このノードはダッシュボードにボタンを1つ表示します。</p>
    <p><b>オーディオ入力</b>モードと<b>音声認識</b>モードが選択可能です。</p>
    <dl>
        <dt>オーディオ入力モード</dt>
        <dd>
            <p>オーディオをWAV形式で録音しBufferオブジェクトとして出力します。</p>
        </dd>
        <dt>音声認識モード</dt>
        <dd>
            <p>音声認識を行い、結果をペイロード値として送信します。<p>
            <p>「<b>中間結果</b>」がチェックされている場合、中間結果も送信します。この際、中間認識結果に対しては<code>done</code>属性を<code>false</code>、それ以外は<code>true</code>に設定します。</p>
            <p>注: このモードの動作にはインターネットアクセスを必要とします。また、Web Speech APIのSpeechRecognition機能をサポートしたブラウザ(e.g. Chrome)でのみ動作します。SpeechRecognition機能がサポートされていない場合、モード選択は無効化されます。</p>
        </dd>
    </dl>
    <p>ボタンは2つのモードに設定できます。ボタンのクリックで録音/認識開始し、再度クリックするか設定した最大時間に達するまで録音/認識するモード、あるいは、ボタンを押している間だけ録音/認識を行うモードです。</p>
    <p>最大時間に0を指定した場合、時間の制限を行いません。</p>
    <p></p>
</script>
